.register{
    margin: 0;
    padding: 0;
    height: 97.54vh;
    width: 100%;
    background-color: aliceblue;
    }
    .registerWrapper{
      width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .registerLeft{
        height: 300px;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .registerLogo{
     margin-bottom: 20px;
     margin-top: 0;
     color: rgb(82, 82, 199);
     font-size: 50px;
    }
    .registerLeftDesc{
      font-size: 30px;
      opacity: 0.9;
      width:90%;
    }
    .registerRight{
        height: 600px;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .registerBox{
      background-color: white;
      height: 450px;
      width: 400px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .registerForm{
      margin-top: 10px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
    .registerInput{
      height: 10px;
      width: 300px;
      border-radius: 5px;
      border: none;
      border: 1.5px solid rgb(238, 219, 219);
      font-size: 16px;
      padding: 20px;
    }
    .registerInput:focus{
      outline: none;
      border: 1.5px solid rgb(80, 80, 212);
    }
    #registerBtn{
      height: 50px;
      width: 300px;
      background-color: rgb(80, 80, 212);
      border: none;
      border-radius: 5px;
      font-weight: bold;
      color: aliceblue;
      font-size: 20px;
    }
    #registerBtn:hover{
      cursor: pointer;
      background-color: rgb(73, 73, 206);
    }
    .alreadyAc{
      text-decoration: none;
    }
    .registerHr{
      width: 300px;
      color: rgb(240, 216, 216);
    }
    
    .registerLoginAc{
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .registerLoginBtn{
      height: 50px;
      width: 200px;
      background-color: rgb(15, 141, 67);
      border: none;
      border-radius: 5px;
      color: aliceblue;
      font-size: 16px;
      font-weight: bold;
    }
    .registerLoginBtn:hover{
      cursor: pointer;
      background-color: rgb(18, 126, 54);
    }

    .registerUsername{
      margin-top: 20px;
    }


    @media only screen and (max-width: 600px){

      .registerWrapper{
        flex-direction:column;
      }
      .registerLeft{
        height:50px;
        width:100%;
      }
      .registerLogo{
        font-size:60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .registerLeftDesc{
        display:none;
      }
      
      }

      @media only screen and (max-width: 768px){

      .registerLeft{
        width:45%;
      }

      }